#modal {
  position: absolute;
  top: 15px;
  left: 16px;
  width: 1500px;
  height: 705px;
  background-color: #fdf7e4;
  border-radius: 7px;
  padding: 8px 0px;
  overflow: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#closeBtn {
  text-align: end;
}
#foodRecommendModal-title {
  text-align: center;
  margin-top: 18px;
}
.mainFoodType-box {
  width: 300px;
  height: 233px;
  background-color: #fff6f6;
  margin-right: 50px;
  margin-bottom: 30px;
  border-radius: 70px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
}
#mainFoodType-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.foodImgModal {
  display: none;
  background-color: rgba(78, 78, 85, 0.399);
  position: absolute;
  top: 0;
  width: 300px;
  height: 233px;
  border-radius: 70px;
  font-size: smaller;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.foodImgModal-title {
  font-size: 27px;
  font-weight: 700;
}
.click-msg {
  font-size: 23px;
  font-weight: 500;
  color: white;
  margin-top: 0px;
}
.mainFoodType-box:hover .foodImgModal {
  display: flex;
}
.mainFoodType-box:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#recommendAgainBtn {
  font-size: 17px;
  border-radius: 20px;
  border: none;
  padding: 7px 5px;
  margin-left: 15px;
  width: 150px;
  background-color: #ffde00;
  font-weight: 600;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
